html, body{
  width:100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
h5{
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 5px;
}
#mainImg{
  z-index: -1;
  height: 100vh;
  width: 100%;
  position: absolute;
  filter: blur(10px);
  object-fit: cover;
}
.backImg{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width:100%;
  position: absolute;
  z-index: -1;
}
.row{
  //display: flex;
}
.wrap{
  border: 2px solid rgba(255, 255, 255, 0.35);
  width: 100%;
  height: 75%;
  border-radius: 3%;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 4px 10px black;
  .details{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 40%;
    margin-bottom: auto;
    margin-top: 25px;
  }
  &:hover {
    .hiddenDetails {
      opacity: 1 !important;
    }
    .img-responsive{
      filter: blur(3px);
    }
  }
  .img-responsive{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    filter: blur(0px);
    transition: filter 200ms ease-in-out;

  }

  .hiddenDetails{
    text-align: center;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    opacity:0;
    transition: opacity 200ms ease-in-out;
  }
  h3{
    font-size: 15px !important;
    margin-top: 10px;
    margin-bottom: auto;
  }
  .detailsBtn{
    display: flex;
    position: relative;
    align-items: center;
  }
}
.btn{
  margin-right: auto;
  margin-left: auto;
  padding: 10px 22% !important;
  margin-bottom: 15px;
  margin-top: auto;
  font-size: 10px !important;
  line-height: 1.6 !important;
  a{
    color: rgba(90, 88, 88, 0.83);
    &:hover{
      text-decoration: none;
      color: #4b4c4c;
    }
  }
}
.btn-default{
  border-color: rgba(173, 173, 173, 0.59)!important;
}
.starIcons{
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: auto;
  i{
    margin-top: 5px;
    padding-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: rgb(245, 199, 59);
  }
}
.movie{
  width: 25%;
  text-align: left;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.movieList{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.moviesWrap{
  width:100%;
  height: 100%;
  overflow-y: scroll;
  padding-top: 30px;
  #movies{
    & > .row{
      padding-bottom: 60px;
    }
  }
}
@media (max-width: 768px) {

  .movie{
    width: 35%!important;
  }
  .movieList{
    justify-content: center!important;
  }
}

@media (min-width: 767px) {
  h3{
    font-size:100% !important;
  }
}

@media (min-width: 992px ) {
  .wrap{
    height: 85%!important;
  }
  .movie{
    width: 20%!important;
  }
}

@media (max-width: 435px) {
  .movie{
    width: 210px !important;
    padding: 10px!important;
  }

  .wrap{
    width: 100%;
    height: 75%!important;
  }
}
@media (max-width: 320px) {

  .container{
    padding-right: 20px!important;
    padding-left: 20px!important;
  }
  .starIcons i{
    margin-right: 0px!important;
  }

  p{
    margin-bottom: 25px!important;
  }
  .details{
    margin-top: 15px!important;
  }
}
